<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="zk-version-since=9.6.0"/>
        <listEntry value="archetypeGroupId=org.zkoss"/>
        <listEntry value="archetypeArtifactId=zk-archetype-webapp"/>
        <listEntry value="archetypeVersion=9.6.0"/>
        <listEntry value="groupId=org.zkoss"/>
        <listEntry value="artifactId=ZKHibernate"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=org.zkoss.ZKHibernate"/>
        <listEntry value="outputDirectory=C:\Users\SDD_USER\Documents\Work\ZKHibernate"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\SDD_USER\AppData\Local\Temp\m2e-archetypeGenerator3827775333741256214"/>
</launchConfiguration>
